<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => Event %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:event_name) %></dt>
      <dd><pre class="prettyprint"><%= @event.event_name %></pre></dd>
  </dl>
</div>

<div> <%=render 'alerts/form' %> </div>